@model AdvisementManagerSharedLibrary.Models.Advisor;
@{
    ViewData["Title"] = " | add admin";
}

<form asp-action="Submit" method="post">
    <div class="form-group">
        <label asp-for="FirstName">First Name: </label>
        <input asp-for="FirstName" id="first"class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="LastName">Last Name: </label>
        <input asp-for="LastName" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Email">Email: </label>
        <input asp-for="Email" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="UserName">User Name: </label>
        <input asp-for="UserName" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Password">Password: </label>
        <input asp-for="Password" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="IsFacultyAdvisor">Is A Faculty Advisor: </label>
        <input type="checkbox" asp-for="IsFacultyAdvisor" class="form-control">
    </div>
    <div class="col-sm-4 offset-sm-2">
        <button type="submit" class ="btn btn-primary">Add</button>
        <a asp-action="Advisors" class="btn btn-dark">Cancel</a>
    </div>
</form>