@model AdminAdvisementManagerWebApp.Models.AddStudentVM;

@{
    ViewData["Title"] = " | edit student advisor";
}

<form asp-action="Edit" method="post">
    <h1>Student: @Model.NewStudent.FullName</h1>

    <h2>Current General Advisor: @Model.NewStudent.GeneralAdvisor.FullName</h2>
    <div class="form-group">
        <label asp-for="NewStudent.generalAdvisorId">New General Advisor: </label>
        <select asp-for="NewStudent.generalAdvisorId" asp-items="Model.GeneralAdvisors" class="form-control"></select>
    </div>

    <h2>Current Faculty Advisor: @Model.NewStudent.FacultyAdvisor.FullName</h2>
    <div class="form-group">
        <label asp-for="NewStudent.facultyAdvisorId">New Faculty Advisor: </label>
        <select asp-for="NewStudent.facultyAdvisorId" asp-items="Model.FacultyAdvisors" class="form-control"></select>
    </div>
    <input type="hidden" asp-for="NewStudent.Id"/>
    <div class="col-sm-4 offset-sm-2">
        <button type="submit" class="btn btn-primary">Update</button>
        <a asp-action="Students" class="btn btn-dark">Cancel</a>
    </div>
</form>